<!--ADD A NEW CONTACT  -->

<div class="page-heading">
    <h1>NEW CONTACT</h1>
</div>

<!--FORM  -->

<form  action='/add_contact' method="post">

  <input type="text" name='first_name' value="">
  <input type="text" name="last_name" value="">
  <input type="email" name="email" value="">
  <textarea name="note" rows="8" cols="80"></textarea>
  <input type="submit" name="" value="ADD CONTACT">

</form>
