<!--ADD A NEW CONTACT  -->

<div class="page-heading">
    <h1>NEW CONTACT</h1>
</div>

<!--FORM  -->

<form  action="/contacts" method="post">

  <input type="text" name='frist_name' value="">
  <input type="text" name="last_name" value="">
  <input type="email" name="email" value="">
  <input type="textarea" name="note" value="">
  <input type="submit" name="" value="ADD CONTACT">

</form>
