








    <div class="page-heading">
        <h1>CONTACT LIST</h1>
      <h3> Displaying <span class = "contact-count-number"><%=@contact_count%></span> Contacts</h3>

    </div>

  <div class="contact-list">

    <ol>
      <% @all_contacts.each do |contact|%>
      <div class = "contact-list-item"><li>
        <p> <span class = "contact-list-name"> <%=contact.full_name%> </span>   ( <%=contact.email%> )
        <br>


          <span class = "contact-edit-delete"><a href="#">Edit</a> | <a href="#">Delete</a></span>
      </p>

      </li></div>
    <% end %>

  </ol>

  </div>
