


    <h1>CONTACT LIST</h1>

    <br>
    <br>
    <div class="contact-count">
      <p>There are <span class = "contact-count-number"><%=@contact_count%></span> contacts</p>

    </div>
  <div class="contact-list">

    <ol>
      <% @all_contacts.each do |contact|%>
      <div class = "contact-list-item"><li>
        <p> <span class = "contact-list-name"> <%=contact.full_name%> </span>   ( <%=contact.email%> )
        <br>


          <span class = "contact-edit-delete"><a href="#">Edit</a> | <a href="#">Delete</a></span>
      </p>

      </li></div>
    <% end %>

  </ol>

  </div>
