<div class="page-heading">
    <h1>Are you sure you want to delete <strong><%=@contact.full_name%></strong></h1>
</div>

<form  action="/contacts/<%=@contact.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="YES DELETE">

</form>
