<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME OF THE CRM</title>
  </head>
  <body>
    <h1>WELCOME TO CRM</h1>
    <h5><em>making contact everywhere you do</em></h5>


    <a href="/contacts">SEE ALL CONTACTS</a>
    <br>
    <a href="/about">About Moi</a>


  </body>
</html>
