
  <div class="page-heading left">
    <h1 ><%= @contact.full_name %></h1>
  </div>

  <div class="show-contact-info">

    <div class = "show-contact-email">
      <p><span>EMAIL:</span> <span class="email-address"><%=@contact.email%></span></p>
    </div>

    <div class="show-contact-note">
      <p>NOTES:<span><%=@contact.note%></span></p>
    </div>

  </div>
