/*CRM CSS*/

/* BASE styles */

html {
        box-sizing: border-box;
        font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 100%;
        color: #333333;
        text-align: center;
}

*,
*::before,
*::after  {
            box-sizing: inherit;
          }

body  { margin: auto;
        max-width: 1200px;
        background-color: rgba(14,35,128,0.75);
      }

/*
  This rule ensure that all images always fit in their container
   but are never stretched beyond their native resolution
*/
img {
  max-width: 100%;
}


/* CLEARFIX - for ensuring floated elements are contained in their parent */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*Standard LAYOUT EACH PAGE has this*/
/*****************************************/

main {max-width: 95%;
      margin: auto;}


/*HEADER LAYOUT*/

div.header    { background-color: rgba(14,35,128,0.75);
                padding: 5px;;
}

div.header h1 {font-size: 4em;
                margin: 0;
                color: rgba(41,234,255,1);
                margin 0;}

div.header p  {font-style: italic;
                color:rgba(41,234,255,.6);
                font-size: 2em;
                margin: 0;
          }

/* header: nav menu */

nav       { margin-top: 10px;}

div.header-nav { background-color: #90afce;
                 margin-bottom: 5px;
                 text-align: center;
                 padding-top: 10px;
                 padding-bottom: 10px;
               }

div.header-nav a {text-decoration: none;
                  font-size: 2em;
                  color: #2F4F4F;
                  font-weight: bold;
                  }

div.header-nav a:hover {  font-size: 3em;
                          color: rgba(14,35,128,0.75);
                        }

/*Footer LAYOUT*/

footer {background:rgba(14,35,128,0.75);
        color: rgba(41,234,255,1);
        text-shadow: 2px 2px   black;
        padding: 10px;
        margin-top:10px;}

/*Page HEADING*/

.page-heading { color: rgba(234,235,236, .9);
            font-weight: bold;
            font-size: 1.5em;
            margin: 0px;
          background-color: rgba(14,35,128,0.3);
          border-radius: 50px;
          padding:5px;
          margin-bottom: 10px;
        margin-top: 10px;}

.page-heading h1{margin:0;}

.page-heading.left h1 { text-align: left;
                        margin-left: 5%;
                        font-size: 1.25em;
                        text-shadow: 2px 3px black;}

.page-heading h3{margin:0px;}



main p {  color: white;
          text-align: justify;
          background-color: rgba(14,35,128,0.3);
          font-size: 1.5em;
          padding: 1em;
          margin:0;
          text-shadow: 1px 1px black;}

/************************/
/*Page Specific CSS*/
/*************************/

/*CONTACT LIST PAGE*/

.contact-count-number { font-weight: bolder;
                        font-size: 1.2em;
                        text-shadow: 2px 2px black;
                        color: #90afce;
                       }


.contact-list ol {  list-style-type: none;
                    padding:0;
                  }

.contact-list-item  li{
                        margin-left: 0;
                        background: rgba(41,234,255,.5);
                        margin: 10px auto;
                        text-align: justify;
                        border-radius: 50px;
                     }

.contact-list-item li p { border-radius: 50px;
                          width:97%;
                          margin-left: 1.5%;}


.contact-edit-delete, .contacts-edit-delete a { color: #2F4F4F;
                        font-size: .75em;
                        text-shadow: none;
                }


/*SHOW INDIVIDUAL CONTACT PAGE*/

.show-contact-info {width:90%;
                    background: rgba(14,35,128,0.3);
                    margin: auto;
                    padding: 20px;}


.show-contact-email p { width: 90%;
                        background: rgba(41,234,255,.4);
                        margin: auto;
                        margin-bottom: 1%;
                        text-align: justify;
                        border-radius: 50px;}


.show-contact-email span {  margin-right: 5%; }


.email-address {  color: rgba(234,235,236, .9); }

.show-contact-note p {  width: 90%;
                        background: rgba(41,234,255,.4);
                        margin: auto;
                        text-align: justify;
                        border-radius: 50px;}

.show-contact-note span { margin-left: 5%;
                          color: #2F4F4F;
                          text-shadow: none;}
